.active{
  border-left-color: rgba(var(--bloc-primary));
  background-color: rgba(0,0,0,0.01);
}
.normal{
  border-left-color: transparent;
  &:hover{
    background-color: rgba(0,0,0,0.01);
  }
}
.header-tab{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    border-radius: 2px;
    background-color: #70aefb;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
  }
}