$placeholder-color: #9b9b9b;
$selector-padding: 6px;
$selector-height: 40px;
$selector-border-color: #f2f2f2;
$selector-border-color-active: $primary;
$selector-border-radius: 4px;

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bloc-rc-select{
  &.rc-select-dropdown{
    // z-index: 9999;
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 0.4rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &-hidden{
      display: none;
    }  
    .rc-select-item{
      &-option{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        padding: 0 0.6rem;

        &-disabled{
          cursor: not-allowed;
          background-color: #fafafa;
          opacity: 0.6;
        }
        &:hover:not([class*=disabled]){
          background-color: #fafafa;
        }
      }
    }
  }

}

.rc-select-selection-overflow{
  // 与placeholder共设置flex
  align-items: center;
  &-item{
    padding: 4px 6px;
    max-width: 100px;
    @extend .ellipsis;
    &:not(:last-child){
      background-color: #f8f8f8;
      border-radius: 4px;
    }
    &:not(:last-child){
      margin-right: 10px;
    }
    &-suffix{
      .rc-select-selection-search{
        overflow: hidden;
        &-mirror{
          display: none;
        }
      }
    }
    .rc-select-selection-item{
      &-remove{
        margin-left: 6px;
        cursor: pointer;
        padding: 4px;
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        &:hover{
          background-color: #f2f2f2;          
        }
      }
    }
  }
}
.rc-select-selection-search{
  display: none;
}
.rc-select-selector,
.rc-select-selection-overflow,
.rc-select-selection-placeholder{
  display: flex;
  height: $selector-height;
  align-items: center;
}
.rc-select-selector{
  position: relative;
  overflow: hidden;
  .rc-select-selection-placeholder{
    display: block;
    line-height: $selector-height;
    position: absolute;
    top: 0;
    left: $selector-padding;
    right: $selector-padding;
    color: $placeholder-color;
    cursor: default;
  }
  .rc-select-selection-item,
  .rc-select-selection-placeholder{
    @extend .ellipsis;
  }
}
.rc-select{
  border: 1px solid $selector-border-color;
  border-radius: $selector-border-radius;
  display: flex;
  align-items: center;
  &-selector{
    flex-grow: 1;
  }
  &-arrow{
    margin-right: $selector-padding;
  }
  &-clear{
    margin-right: $selector-padding;
    cursor: pointer;
  }

  &-focused{
    border-color: $selector-border-color-active;
  }
  &-selector{
    padding: 0 $selector-padding;
  }
  &:hover:not([class*=disabled]):not([class*=open]){
    border-color: #eaeaea;
    background-color: #fafafa;
    .rc-select-selection-overflow-item:not(:last-child){
      background-color: #efefef;
    }
  }
  &-open{
    border-color: $selector-border-color-active;
  }
  &-disabled{
    background-color: rgba(249, 250, 251, 1);
    cursor: not-allowed;
  }
}
